.EpisodeDetailsItem {
  margin: 2.5rem -.25rem;
  height: 10rem;
  //background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid transparent;
}

.EpisodeDetails {
  margin: 0 25rem;
}

.EpisodeSummaryDetails{
  margin: 0 -20.5rem 0 0;
}